* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 50vh;
}
.App {
  padding-bottom: 2.5rem
}
.App-header {
  display: flex;
  align-items: center;
}

.App-header h1 {
  color: rgb(230, 7, 7);
  font-size: 3rem;
}

hr{
  color: rgb(230, 7, 7);
  background-color: rgb(230, 7, 7);
  border: 0;
  height: 5px;
}

.App-body {
  margin-left: 60px;
}

.App-body p{
  font-size: 1.5rem;
  margin-top: 50px;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.App-footer p{
  text-align: center;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
}