

#Notifications p {
    margin-left: 10px;
}

.menuItem {
    position: absolute;
    right: 50px; 
    top: 10ox;
}

#Notifications li[data-notification-type=default] {
    color: blue;
}

#Notifications li[data-notification-type=urgent] {
    color: red;
}